<!-- Model-Driven of ook wel Reactive Form aanpak -->
<table>
  <th>
    <tr>
      <td>Naam</td>
      <td>Score</td>
      <td>Logo</td>
    </tr>
  </th>
  <tbody>
  <tr *ngFor="let f of frameworks">
    <td>{{f.naam}}</td>
    <td>{{f.score}}</td>
    <td><img src="{{f.logoUrl}}"> </td>
  </tr>
  </tbody>
</table>

<h3>De autocompleter</h3>
<app-autocompleter [data]="frameworks"
                   [displayProperty]="propertyToDisplay"
                    (itemSelected)="eventFired($event)"
></app-autocompleter>

<h3>Web Frameworks</h3>
<form [formGroup]="reactiveFormGroup">
  <ol>
    <li>
      <label for="naam-input">Naam:</label>
      <input type="text" id="naam-input" formControlName="naam">
      <span *ngIf="reactiveFormGroup.controls.naam.touched && reactiveFormGroup.controls.naam.invalid">*</span>
      <span *ngIf="reactiveFormGroup.controls.naam.touched && reactiveFormGroup.controls.naam.errors?.required">Dit veld is verplicht</span>
      <span *ngIf="reactiveFormGroup.controls.naam.touched && reactiveFormGroup.controls.naam.errors?.pattern">Dit veld mag alleen letters en spaties bevatten</span>
    </li>
    <li>
      <label for="score-input">Score:</label>
      <input type="number" id="score-input" formControlName="score">
      <span *ngIf="reactiveFormGroup.controls.score.touched && reactiveFormGroup.controls.naam.invalid">*</span>
      <span *ngIf="reactiveFormGroup.controls.score.touched && reactiveFormGroup.controls.naam.errors?.required">Dit veld is verplicht</span>
      <!--span *ngIf="reactiveFormGroup.controls.naam.touched && reactiveFormGroup.controls.naam.errors?.pattern">Dit veld mag alleen letters en spaties bevatten</span-->
    </li>
    <li>
      <label for="logoUrl-input">Url logo:</label>
      <input type="text" id="logoUrl-input" formControlName="logoUrl">
    </li>
  </ol>
  <button [disabled]="reactiveFormGroup.invalid" (click)="addFramework()">Add Framework</button>
</form>
{{structureControls | json}}
