<!-- Model-Driven of ook wel Reactive Form aanpak -->

<form [formGroup]="reactiveFormGroup">
  <ol>
    <li>
      <label for="naam-input">Naam framework</label>
      <input type="text" id="naam-input" formControlName="naam">
    </li>
    <li>
      <label for="score-input">Score</label>
      <input type="text" id="score-input" formControlName="score">
    </li>
    <li>
      <label for="logoUrl-input">Url logo</label>
      <input type="text" id="logoUrl-input" formControlName="logoUrl">
    </li>
    <li>
      <button (click)="addFramework()">Add Framework</button>
    </li>
  </ol>
</form>
{{structureReactiveFormGroup | json}}
