h1 {
  color: aqua;
}
div {

  height: 50px;
  background-color: #c2c3c4;
}

.my-class{
  background-color: lightgreen;
}

#my-id{
  background-color: blue;
}

a:hover{
  background-color: lightgreen;
}
